*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    padding: 20px;
    z-index: 1;
}

.logo{
    width: 100px;
}

.list-header{
    display: inline-block;
}

a{
    text-decoration: none;
}

.link-header{
    padding: 20px;
    color: rgb(0, 0, 0);
}

.link-special{
    background-color: rgb(85, 85, 255);
    padding: 7px 15px 7px 15px;
    color: white;
}

/* Main */
main{
    margin-top: 64px;
    width: 100%;
    
}

/* prima sezione */
.box{
    margin-left: 20%;
    padding: 20px;
}

.sezione-iniziale{
    background-color: lightsteelblue;
    padding-top: 30px;
}

.titolo{
    background-color: pink;
    width: 70%;
    height: 200px;
}

.testo{
    display: inline-block;
    background-color: rgb(236, 20, 56);
    width: 25%;
    height: 300px;
}

.jumbotron{
    display: inline-block;
    background-color: gray;
    width: 50%;
    height: 300px;
    position: relative;
    top: 30px;
}

/* seconda sezione */
.cestino{
    margin-top: 150px;
    width: 100%;
}

.flex{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.card{

    background-color: green;
    width: 200px;
    height: 800px;
}

.team{
    background-color: rgb(136, 255, 0);
    width: 70%;
    height: 200px;
    margin-top: 40px;
}

/* terza sezione */
.descrizione{
    margin-top:  150px;
    width: 100%;
}

.container{
    display: flex;
    width: 70%;
    margin-left: 20%;
}

.st-1{
    width: 50%;
    background-color: lightskyblue;
    height: 300px;

}
.st-2{
    width: 30%;
    background-color: pink;
    height: 300px;

}

/* quarta sezione */
.marg{
    margin-top: 150px;
}

.contenitore{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.micro-are{
    width: 30%;
    height: 400px;
    margin: 10px;
}

.color1{
    background-color: rgb(255, 255, 255);
}
.color2{
    background-color: green;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: red;
}
.color5{
    background-color: black;
}
.color6{
    background-color: gray;
}

/* sesta sezione */
.loghi{
    width: 100%;
    display: flex;
}

.centro{
    width: 38%;
    background-color: white;
}

.loghi4{
    width: 37%;
    display: flex;
    flex-wrap: wrap;
}

.dimensioni{
    height: 200px;
    width: 50%;
}

/* settima sezione */
.sfondo{
    background-color: lightsteelblue;
    width: 100%;
    padding: 20px;
}

.sez{
    margin-left: 20%;
    background-color: rgb(163, 0, 27);
    width: 56%;
    height: 200px;
}

/* ottava sezione */
