*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    padding: 20px;
    z-index: 1;
}

.logo{
    width: 100px;
}

.list-header{
    display: inline-block;
}

a{
    text-decoration: none;
}

.link-header{
    padding: 20px;
    color: rgb(0, 0, 0);
}

.link-special{
    background-color: rgb(85, 85, 255);
    padding: 7px 15px 7px 15px;
    color: white;
}

/* Main */
main{
    margin-top: 64px;
}

.box{
    margin-left: 20%;
}

.sezione-iniziale{
    background-color: lightsteelblue;
    padding-top: 30px;
}

.titolo{
    background-color: pink;
    width: 70%;
    height: 200px;
}

.testo{
    display: inline-block;
    background-color: rgb(236, 20, 56);
    width: 25%;
    height: 300px;
}

.jumbotron{
    display: inline-block;
    background-color: gray;
    width: 50%;
    height: 300px;
    position: relative;
    top: 30px;
}